* {
  margin: 0px;
  padding: 0px;
}

body{
  /* background-color: #9dcec9; */
  /* background-color: rgb(206, 238, 130); */
}

/* styling navbar */
#navbar {
  display: flex;
  position: relative;
  font-family: "Baloo Bhai 2", cursive;
}
#navbar::before {
  content: "";
  background-color: #d4f1ee;
  position: absolute;
  width: 100%;
  height: 113px;
  z-index: -1;
  opacity: 0.7;
}

ul {
  padding-left: 0px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  /* margin: 10px; */
  padding: 8px 15px 8px 15px;
}
a:hover {
  text-decoration: none;
  color: white;
  background-color: #5b95d8;
  border-radius: 6px;
}

li {
  list-style: none;
  margin: 40px;
  font-size: larger;
}

/* styling home secton */

#home {
  display: flex;
  height: 702px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
#home::before {
  content: "";
  background: url(bgimg.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.75;
}

.primaryh1 {
  color: #ffffff;
  font-size: 3.9rem;
  text-shadow: 2px 2px black;
  margin: 40px 0px 20px 0px;
  text-align: center;
}
.secondaryh1 {
  /* color: #e7e1e1; */
  color: black;

  font-size: 3.9rem;
  /* text-shadow: 2px 2px 5px black; */
  text-shadow: 5px 5px 6px white;
  margin: 56px 0px -17px 0px;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
#home p {
  color: #ffffff;
  font-size: 1.6rem;
  text-shadow: 2px 2px 2px black;
}
.shopnow {
  color: rgb(0, 0, 0);
  background-color: #d4f1ee;
  border-radius: 6px;
  border: none;
  font-size: 1.5rem;
  margin: 80px 0px -170px 0px;
  padding: 10px 20px 10px 20px;
  border: white 2px solid;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.shopnow:hover {
  color: white;
  background-color: #5b95d8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
  border: black 4px solid;
  margin-top: 3px;
}

/* section2 */

#container {
  display: flex;
  margin: 34px;
}

.style_img {
  width: 100%;
  height: 250px;
}
.box {
  border: 2px solid black;
  height: 400px;
  width: 500px;
  margin: 34px 50px 0px 50px;
  text-align: center;
  /* padding: 10px; */
  border-radius: 6px;
  background-color: #d4f1ee;
  font-size: 1.2rem;
}

.text {
  /* margin: 10px; */
  padding: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.center {
  text-align: center;
  margin-top: 10px;
  font-family: "Baloo Bhai 2", cursive;
}
/* undo */
/* section-3 */
#discount {
  display: flex;
  justify-content: center;
}

.box1 {
  display: grid;
  /* flex-direction: column; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  grid-template-columns: auto auto;
  grid-template-rows: none;
  grid-gap: 4px;
  height: 494px;
  width: 494px;
  margin: 20px 145px 0px 145px;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 8px;
  box-shadow: black 2px 2px 8px 2px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Baloo Bhai 2", cursive;
  color: #838383;
  background-color: #e8bcbc;

  /* border: black 2px solid; */
}

.smallbox {
  /* float: right; */
  /* grid-template-rows: repeat(2,1fr); */
  height: 200px;
  width: 200px;
  /* padding: 20px; */
  margin: 12px 20px 12px 20px;
  /* border: black 2px solid; */
}

.style_img1 {
  height: 200px;
  width: 200px;
}

.section3-heading {
  margin-top: 80px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3.5rem;
  color: #e8bcbc;
  text-shadow: 2px 3px 4px black;
}

.contain {
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
  justify-content: center;
}

.subheading {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  margin: 40px 140px 0px 145px;
  padding: 15px 36px 0px 26px;
  color: #686565;
}

/* section-4 */

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
}
.section4-heading {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 100px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(236, 2, 2) 2px 3px 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.brandimg {
  height: 200px;
  width: 200px;
  margin: 60px 70px 30px 70px;
  justify-content: center;
  align-items: center;
}
.brand-logo::before {
  content: "";
  background: url(Thank\ you\ new.png) no-repeat center center/cover;
  position: absolute;
  width: 52%;
  height: 50%;
  z-index: -1;
  opacity: 0.3;
}

/* section-5 contact us */

#contact_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  /* text-align: center; */
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgb(187, 18, 18);
  border-radius: 5px;
  margin: 8px;
}

.form_group {
  margin: 10px;
  font-size: 1.4rem;
  font-family: "Baloo Bhai 2", cursive;
  width: 100%;
}

#contact {
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: url(../contact.jpg) no-repeat center center/cover;
}

.contact-submit {
  justify-content: center;
  text-align: center;
  margin: -8px 3px 0px 174px;
  padding: 10px 15px 8px 15px;
  color: #ffffff;
  background-color: brown;
  border: white 2px solid;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.5rem;
}

.contact-submit:hover {
  color: brown;
  background-color: #ffffff;
  border: brown 2px solid;
}

/* section-6 footer */

footer {
  background-color: black;
  color: white;
  padding: 8px 0px 12px 0px;
}
